/* Webfont: Woles-Regular */@font-face {
    font-family: 'Woles';
    src: url('woles.woff2') format('woff2'), /* Modern Browsers */
         url('woles.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

